* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0f172a;
    color: #f1f5f9;
}

/* Navbar */

.navbar {
    background: #111827;
    padding: 20px 0;
    border-bottom: 1px solid #1f2937;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #22d3ee;
    font-size: 22px;
}

nav a {
    color: #f1f5f9;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #22d3ee;
}

/* Block Section */

.block-section {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
}

.block-section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #22d3ee;
}

.block-card {
    background: #1e293b;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.block-card:hover {
    transform: translateY(-5px);
}

.block-card h3 {
    margin-bottom: 10px;
    color: #22d3ee;
}

.block-card p {
    margin-bottom: 15px;
    color: #cbd5e1;
}

.block-btn {
    padding: 8px 18px;
    background: #22d3ee;
    color: #0f172a;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.block-btn:hover {
    opacity: 0.8;
}

/* Footer */

.footer {
    background: #111827;
    padding: 30px 0;
    text-align: center;
    margin-top: 60px;
}

.footer p {
    color: #94a3b8;
    margin-bottom: 10px;
}

.home-link {
    color: #22d3ee;
    text-decoration: none;
  }
